/*------------------------------------------------------------------
[Master Stylesheet]

Project:  360 Degree
Version:  1.1
Last change:  12/01/2017   
Primary use:  360 Degree
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]
1. EFFECTS
2. COLORS
3. GENERAL
4. HEADER

-------------------------------------------------------------------*/


/*
EFFECTS
*/
.d-subheading
{
    background-color: #e0e0e0;
    margin-bottom: 20px;
    padding: 8px 15px 10px;
}

.pager li>a{
    background-color: #0091D9;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    padding: 8px 18px;
    border-radius: 15px;
}

.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
}

.bootstrapWizard li {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-top: 1px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1
}

.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}

.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard li .step {
    background: #B2B5B9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: #0091d9;
    color: #fff;
    font-weight: 400;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #2B3D53
}

.bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 14px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
}

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.wizard-actions li {
    display: inline
}

.tab-content.transparent {
    background-color: transparent
}

md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    background: none;
}

.heading-toolbar {
    background-color: #0E67BF;
    text-transform: uppercase;

}
.heading-toolbar h2{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding:12px;
}

md-icon{
    min-height: 8px;
}

md-menu-item{
    color: #000;
    background-color: #fff;
    padding: 0px;
}

md-menu-item:hover{
    color: #000;
    background-color: #fff;
}

md-menu-item.a{
    color: #000;
    padding: 0px;
}

md-menu-item>a.md-button{
    padding: 15px;
}

md-menu-content.md-menu-bar-menu.md-dense{
    max-height:none;
    padding:0px 0;
    background-color: #fff;
}

.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.selectdemoSelectHeader md-content._md {
    max-height: 240px; }    
.big-button{
    width: 150px;    
}

.menu-icon{
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.parent-icon{
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.timeline-icon{
    text-align: left;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.log-icon{
    text-align: left;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

md-menu-item>a.md-button{
    padding: 15px;
}

md-menu-content.md-menu-bar-menu.md-dense{
    max-height:none;
    padding:0px 0;
    background-color: #fff;
}

md-toolbar
{
    min-height: 58px;
}

md-toolbar-tools{
    min-height: 58px;
}

.md-button.md-fab.md-mini{
    width: 35px;
    height: 30px;
}

.material-icons{
    font-size: 18px;    
}



.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.d-transtion,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.d-inst_logo_outer::after,
.d-inst_logo_outer i {
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.d-transtion_fast,
.d-profile_head .d-phead_content ul li > a {
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


/*
COLORS
*/


/*
ANGULAR RESET
*/

md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(0px, 6px, 0px) scale(0.95);
    -webkit-transform: translate3d(0px, 6px, 0px) scale(0.95);
}

.md-button {
    margin: auto;
}

.md-toolbar-tools h2 span {
    color: #fff;
    text-transform: uppercase;
}

md-input-container.md-default-theme label,
md-input-container label,
md-input-container.md-default-theme .md-placeholder,
md-input-container .md-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

md-select.md-default-theme .md-select-value.md-select-placeholder,
md-select .md-select-value.md-select-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input,
md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
    border-color: #0e67bf;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) label,
md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: #0e67bf;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background: #5aa6eb;
}

a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    background: #6babe6;
}

a.md-button.md-default-theme.md-primary.md-raised:hover:not([disabled]),
a.md-button.md-primary.md-raised:hover:not([disabled]),
a.md-button.md-default-theme.md-primary.md-fab:hover:not([disabled]),
a.md-button.md-primary.md-fab:hover:not([disabled]),
.md-button.md-default-theme.md-primary.md-raised:hover:not([disabled]),
.md-button.md-primary.md-raised:hover:not([disabled]),
.md-button.md-default-theme.md-primary.md-fab:hover:not([disabled]),
.md-button.md-primary.md-fab:hover:not([disabled]) {
    background: #0e67bf;
}

a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    color: #fff;
}

.md-button {
    border-radius: 0;
}

a.md-button.md-default-theme.md-fab,
a.md-button.md-fab,
.md-button.md-default-theme.md-fab,
.md-button.md-fab,
a.md-button.md-default-theme.md-warn.md-raised,
a.md-button.md-warn.md-raised,
a.md-button.md-default-theme.md-warn.md-fab,
a.md-button.md-warn.md-fab,
.md-button.md-default-theme.md-warn.md-raised,
.md-button.md-warn.md-raised,
.md-button.md-default-theme.md-warn.md-fab,
.md-button.md-warn.md-fab {
    background: #333;
}

a.md-button.md-default-theme.md-fab:hover:not([disabled]),
a.md-button.md-fab:hover:not([disabled]),
.md-button.md-default-theme.md-fab:hover:not([disabled]),
.md-button.md-fab:hover:not([disabled]),
a.md-button.md-default-theme.md-warn.md-raised:hover:not([disabled]),
a.md-button.md-warn.md-raised:hover:not([disabled]),
a.md-button.md-default-theme.md-warn.md-fab:hover:not([disabled]),
a.md-button.md-warn.md-fab:hover:not([disabled]),
.md-button.md-default-theme.md-warn.md-raised:hover:not([disabled]),
.md-button.md-warn.md-raised:hover:not([disabled]),
.md-button.md-default-theme.md-warn.md-fab:hover:not([disabled]),
.md-button.md-warn.md-fab:hover:not([disabled]) {
    background: #0e67bf;
}

.md-fab-action-item .fa {
    color: #ffffff;
    display: block;
    font-size: 22px;
    line-height: 44px;
}

.md-button .material-icons {
    color: #fff;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
    background: #333;
}

.d-datepicker md-datepicker {
    width: 100%;
    display: block;
    margin: 18px 0 30px;
}
.driverform  .d-datepicker md-datepicker {margin: 0 0 32px;}
.d-datepicker .md-datepicker-input-container {
    width: 90%;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
    background-color: #333;
}

md-switch.md-default-theme.md-checked.md-warn .md-bar,
md-switch.md-checked.md-warn .md-bar {
    background-color: #0e67bf;
    opacity: 0.6;
}

md-switch.md-default-theme.md-checked.md-warn .md-thumb,
md-switch.md-checked.md-warn .md-thumb {
    background-color: #0e67bf;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
    background-color: #0e67bf;
}

md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
    border-color: #0e67bf;
}

.md-sidenav-right {
    height: calc(100% - 40px);
    top: 40px;
    position: fixed;
    right: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff;
}

md-input-container.md-default-theme.md-input-invalid.md-input-focused label,
md-input-container.md-input-invalid.md-input-focused label {
    color: rgba(0, 0, 0, 0.5);
}

.md-block.flex-gt-sm.md-input-invalid.md-input-has-value.md-input-focused label {
    color: #0e67bf !important;
}


/*
GENERAL
*/

body {
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
    color: #333;
    background: #fff;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "sans-serif";
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
}

.panel,
.panel-heading,
.form-control {
    border-radius: 0;
}

.panel-primary {
    border-color: #1EBFAE;
}

.panel-primary > .panel-heading {
    background-color: #1EBFAE;
    border-color: #1EBFAE;
}

.panel-heading {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

label {
    font-weight: 500;
    color: #000;
}

.d-button:hover::before,
.d-button:focus::before,
.d-button:active::before {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.d-button::before {
    background: #5aa6eb;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}

.d-button:hover,
.d-button:focus,
.d-button:active {
    color: white;
}

.d-button {
    background: #e1e1e1;
    border: 1px solid #c1c1c1;
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    color: #010101;
    cursor: pointer;
    margin: 0.4em 0;
    padding: 10px 30px;
    text-decoration: none;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}

.modal-dialog {
    z-index: 99999;
    max-width: 850px;
    width: 98%;
}

.modal-dialog .modal-content,
.modal-dialog .btn {
    border-radius: 0;
}

body.stop-scrolling {
    height: auto;
}

input[type="checkbox"] {
    cursor: pointer;
}


/*
HEADER
*/
.panel-heading{
    background-color: #0E67BF;
}
.d-header {
    background-color: #1EBFAE;
}

.d-login_page.d-login_page {
    padding-top: 0;
}

.d-header_strip {
    padding-bottom: 0px; 

}



.d-header_info {
    background-color: #2980B9;

}

.d-header_info .d-main_menu nav ul {
    padding-left: 0;
}

.d-header_info .d-main_menu nav ul li {
    display: inline-block;
}

.d-header_info .d-main_menu nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.d-header_info .d-main_menu nav ul li a:after {
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
}

.d-header_info .d-main_menu nav ul li a:hover {
    color: #5aa6eb;
}

.d-header_info .d-main_menu nav ul li:last-child a:after {
    content: "";
}

.d-header_info .d-top_user {
    text-align: right;
    color: #fff;
    padding-right: 35px;
}

.d-header_info .d-top_user * {
    display: inline-block;
}

.d-header_info .d-top_user span {
    margin-left: 3px;
    font-size: 12px;
}

.d-header_info .d-top_user span a {
    text-transform: capitalize;
}

.d-header_info .d-top_user span:after {
    content: "|";
    margin: 0 8px;
    color: #fff;
}

.d-header_info .d-top_user span.d-notification_icon::after {
    display: none;
}

.d-header_info .d-top_user span.d-notification_icon:hover {
    color: #5aa6eb;
}



.d-header_info .d-top_user a {
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
}

.d-header_info .d-top_user a:hover {
    color: #fff;
}

.d-header_info .d-top_user .dropdown span:hover {
    cursor: pointer;
    color: #5aa6eb;
}

.d-header_info .d-top_user .dropdown-menu {
    display: none;
    padding: 0;
    color: #333;
    border-radius: 0;
    background: #fff;
    margin-top: 12px;
    border: none;
}

.d-header_info .d-top_user .dropdown-menu > li {
    display: block;
}

.d-header_info .d-top_user .dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    text-transform: capitalize;
}


.d-header_info .d-top_user .dropdown-menu > li > a:hover {
    background: #5aa6eb;
    color: #fff;
}

.d-header_info .d-top_user .dropdown.open .dropdown-menu {
    display: block;
}

.d-nav nav > ul {
    padding-left: 0;
    float: right;
    padding-top: 10px;
}

.d-nav nav > ul > li {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.d-nav nav > ul > li > a {
    color: #fff;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 15px;
    display: inline-block; }
.d-nav nav > ul > li > a:hover {
    color: #fff;
    background-color: #5aa6eb; }
.d-nav nav > ul > li > ul {
    display: none;
    padding: 0;
    position: absolute;
    left: 0;
    background-color: #1EBFAE;
    min-width: 200px;
    z-index: 9999; }
.d-nav nav > ul > li > ul > li > a {
    padding: 10px 18px;
    display: block;
    border-bottom: 1px solid #4197C1;
    color: #fff; }
.d-nav nav > ul > li > ul > li > a:hover {
    background-color: #5aa6eb; }
.d-nav nav > ul > li:hover > a {
    color: #fff;
    background-color: #5aa6eb; }
.d-nav nav > ul > li:hover > ul {
    display: block; }

.d-notification_list {
    margin: 0;
    padding: 0; }
.d-notification_list li {
    border-bottom: 1px solid #efefef;
    font-size: 13px;
    padding: 10px 10px 10px 30px;
    position: relative;
    cursor: pointer; }
.d-notification_list li::before {
    content: "\f06e";
    color: #0e67bf;
    font-family: "FontAwesome";
    position: absolute;
    left: 10px;
    top: 12px; }
.d-notification_list li:hover {
    background: #efefef; }
.d-notification_list li.d-visible {
    opacity: 0.6; }
.d-notification_list li.d-visible::before {
    content: "\f070"; }

.d-notification_head > div {
    float: left;
    width: 50%;
    padding: 7px 10px;
    background: #efefef;
    border-right: 1px solid #e1e2e2; }
.d-notification_head > div * {
    display: inline-block;
    font-size: 22px; }
.d-notification_head > div span {
    transition: none;
    left: 5px;
    position: relative;
    top: -6px;
    font-size: 13px; }
.d-notification_head > div:hover {
    background: #333;
    color: #fff;
    cursor: pointer; }

.d-notification_icon {
    position: relative; }
.d-notification_icon em {
    background: #0e67bf;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    font-style: normal;
    padding: 3px 3px 2px;
    position: absolute;
    top: -8px; }

@media (min-width: 767px) {
    .navbar-default {
        background: none;
        margin: auto;
        border: none;
        min-height: auto;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-family: "Montserrat", "sans-serif";
        text-transform: uppercase;
        font-size: 12px;

        display: inline-block;
        margin-right: 5px;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
        background-color: #5aa6eb;
    }
    .navbar-default .navbar-nav > li .dropdown-menu {
        background-color: #1EBFAE;
        padding: 0;
        border: none;
        border-radius: 0;
    }
    .navbar-default .navbar-nav > li .dropdown-menu > li > a {
        color: #fff;
        padding: 8px 13px;
    }
    .navbar-default .navbar-nav > li .dropdown-menu > li > a:hover {
        background: #20a093;
        color: #fff;
    }
    .navbar-right .dropdown-menu {
        right: 8px;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
        background: #5aa6eb;
        color: #fff;
    }
}

@media (max-width: 767px) {
    .navbar-default {
        margin: 15px 0;
        background: none;
        margin: -40px auto auto;
        border: none;
    }
    .navbar-default .navbar-toggle {
        background: #4879c2;
        border-radius: 0;
        border-color: #333;
        margin: auto;
    }
    .navbar-default .navbar-toggle span.icon-bar {
        background: #fff;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: #5aa6eb;
        border-color: #5aa6eb;
    }
    .navbar-default .navbar-collapse {
        background: #333;
        border: medium none;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 99999;
    }
    .navbar-default .navbar-collapse ul {
        margin-top: auto;
        margin-bottom: auto;
    }
    .navbar-default .navbar-collapse ul li a {
        color: #fff;
        font-family: "Montserrat", "sans-serif";
        text-transform: uppercase;
        font-size: 13px;
    }
    .navbar-default .navbar-collapse ul li a:hover {
        color: #5aa6eb;
    }
    .navbar-default .navbar-collapse ul li .dropdown-menu {
        border-bottom: 1px solid #8f8f8f;
        border-radius: 0;
    }
    .navbar-default .navbar-collapse ul li.open .dropdown-menu > li > a {
        color: #fff;
        font-size: 12px;
    }
    .navbar-default .navbar-collapse ul li.open .dropdown-menu > li > a:hover {
        color: #5aa6eb;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
        background: #5aa6eb;
        color: #fff;
    }
}


/*
WELCOME
*/

.d-wrapper {
    padding-bottom: 70px;
}

.d-welcome_msg h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.d-welcome_msg span {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.d-login_form {
    max-width: 450px;
    margin: 20px auto;
    width: 98%;
}

.d-login_form .d-form_links {
    margin-top: 20px;
}

.d-login_form .d-form_links input {
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.d-login_form .d-form_links a,
.d-login_form .d-form_links label {
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

.d-login_form .d-form_links *:hover {
    color: #5aa6eb;
}

.d-login_form md-input-container {
    padding-left: 30px;
}

.d-login_form md-input-container i {
    position: absolute;
    left: 0;
}

.d-login_form md-input-container label:not(.md-container-ignore) {
    left: 30px;
}


/*
BREADCRUM
*/

.d-breadcrum_bar {
    background: #EFEFEF;
    margin-bottom: 30px;
    padding: 10px 0;
}

.d-breadcrum_bar .d-breadcrum {
    padding: 0;
    margin-top: 8px;
}

.d-breadcrum_bar .d-breadcrum li {
    display: inline-block;
}

.d-breadcrum_bar .d-breadcrum li a {
    color: #000;
}

.d-breadcrum_bar .d-breadcrum li a:hover {
    color: #0e67bf;
}

.d-breadcrum_bar .d-breadcrum li a:after {
    content: "\f101";
    font-family: "FontAwesome";
    font-size: 13px;
    margin: 0 8px;
}

.d-session > span {
    font-size: 13px;
    padding-right: 10px;
    position: relative;
    top: -7px;
}

.d-session span,
.d-session md-select {
    display: inline-block;
    margin: auto;
}

.d-session md-select {
    min-width: 150px;
}

.d-session md-input-container {
    display: inline-block;
    margin: auto;
}


/*
footer
*/

.d-footer {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    background-color: #333;
    left: 0;
    bottom: 0;
}

.d-footer p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}

.d-footer p a {
    color: #5aa6eb;
}

.d-footer p a:hover {
    color: #fff;
}

.d-footer ul {
    padding: 0;
    float: right;
    margin-top: 5px;
}

.d-footer ul li {
    display: inline-block;
    margin-left: 5px;
}

.d-footer ul li a {
    display: inline-block;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
}

.d-footer ul li a:hover {
    background: #5aa6eb;
    color: #fff;
    border-color: #5aa6eb;
}

.d-footer_inst img {
    max-height: 40px;
    float: right;
}

.d-footer_inst div > a {
    padding-right: 15px;
}

.d-footer_inst span {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 12px;
    padding-top: 12px;
}


/*
FORM
*/

.table > thead > tr > th,
td,
th {
    font-weight: normal;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > td a {
    color: #34689d;
}

.table > tbody > tr > td .md-button.md-fab.md-mini {
    margin: 0 5px;
    box-shadow: none !important;
}

.table > tbody > tr > td .lock-size.layout-align-center-center.layout-row {
    display: block;
}

.table > tbody > tr > td .d-action_button.md-button.md-fab.md-mini {
    box-shadow: none !important;
}

.d-validation-error input,
.d-validation-error .select2-container .select2-choice {
    border-color: #f00 !important;
}

.d-validation-error .md-input-messages-animation {
    color: #f00;
    font-size: 12px;
    padding-top: 4px;
}

.ng-touched {
    border-color: rgba(0, 0, 0, 0.12) !important;
}

.table > tbody > tr > td a:hover {
    color: #0e67bf;
    text-decoration: underline;
}

.table > tfoot > tr > th {
    background-color: #828282;
    color: #fff;
}

.table > tfoot > tr > th a {
    color: #fff;
}

.d-listing_toolbar {
    display: block;
    margin-bottom: 10px;
    background: #1EBFAE !important;
}

.d-listing_toolbar .d-listing_toolbar_title > span {
    color: #fff;
    display: inline-block;
    font-weight: 500;
    padding: 20px 15px;
    text-transform: uppercase;
}

.d-toolbar_icon {
    text-align: right;
    padding: 12px 15px;
}

.md-button .material-icons {
    line-height: 35px;
}

.d-searchbar {
    background: #efefef;
    height: 100%;
    padding: 10px 10px 10px 65px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.d-searchbar button {
    position: absolute;
    left: 10px;
    top: 10px;
}

.d-searchbar md-input-container {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 10px;
}

.d-searchbar md-input-container div {
    display: none;
}

.d-inst_logo {
    max-height: 150px;
    margin: auto;
    max-width: 120px;
}



.d-subheading h4 {
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    padding-left: 30px;
}

.d-subheading i {
    font-size: 22px;
    left: 0;
    position: absolute;
    top: -1px;
}

.d-profile_head {
    min-height: 180px;
}

.d-profile_head .d-phead_content {
    position: relative;
}

.d-profile_head .d-phead_content ul {
    padding-left: 0;
}

.d-profile_head .d-phead_content ul li {
    margin-bottom: 13px;
    line-height: 22px;
    padding-top: 3px;
    padding-left: 5px;
}

.d-profile_head .d-phead_content ul li > a {
    padding-left: 10px;
    color: #000;
    font-size: 17px;
    position: relative;
    top: 1px;
    cursor: pointer;
    opacity: 0;
}

.d-profile_head .d-phead_content ul li > a:hover {
    color: #5aa6eb;
}

.d-profile_head .d-phead_content strong {
    float: left;
    font-weight: 500;
    display: inline-block;
    min-width: 55px;
}

.d-profile_head .d-phead_content strong:after {
    content: ":";
    margin: 0 5px 0 1px;
}

.d-profile_head .d-phead_content:hover ul li a {
    opacity: 1;
}

.d-profile_head .d-phead_content .d-email_edit strong {
    min-width: 64px;
}

.d-package_listing {
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal-body .panel {
    margin-bottom: 0;
    border-bottom: none;
}

.modal-body .panel-default > .panel-heading {
    background: #5aa6eb;
    color: #fff;
}

.modal-body .panel-title {
    font-size: 18px;
    font-weight: 500;
    float: left;
    padding-top: 10px;
}

.md-select-menu-container {
    z-index: 99999;
}

.d-master .d-breadcrum_bar .d-breadcrum {
    margin-top: 0;
}

.d-inst_logo_outer {
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    min-height: 130px;
}

.d-inst_logo_outer::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 666;
    position: absolute;
    opacity: 0;
}

.d-inst_logo_outer:hover::after,
.d-inst_logo_outer:hover i {
    opacity: 1;
}

.d-inst_logo_outer i {
    position: absolute;
    opacity: 0;
    color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: block;
    width: 40px;
    height: 45px;
    margin: auto;
    cursor: pointer;
    font-size: 44px;
}

.d-inst_logo_outer > input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.d-radio_outer label {
    color: #0e67bf;
    display: block;
    font-size: 13px;
}

.d-radio_outer md-radio-button {
    display: inline-block;
    margin: 10px 20px 25px 0 !important;
}

.d-search_page md-toolbar {
    margin-bottom: 10px;
}

.d-search_page thead {
    background: #f0efef;
}

.d-search_page .table > tbody > tr > td a.d-pay_fee_due,
.d-search_page .table > tbody > tr > td a.d-no_fee_due {
    background: #7cbe52;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 3px 10px;
    min-width: 100px;
    text-align: center;
}

.d-search_page .table > tbody > tr > td a.d-pay_fee_due {
    background: #f0ad4e;
}

.d-search_side .panel {
    background: #f4f4f4;
}

.d-search_side .md-errors-spacer {
    display: none;
}

.d-search_side .row > div:last-child {
    margin-top: 15px;
}

.d-search_side .d-datepicker md-datepicker {
    background: none;
    margin-bottom: 0;
}

.d-table_check md-switch.md-default-theme .md-thumb,
.d-table_check md-switch .md-thumb {
    background-color: #f00;
}

.d-table_check md-switch.md-default-theme .md-bar,
.d-table_check md-switch .md-bar {
    background-color: #ff5c5c;
}

.d-table_check md-switch.md-default-theme.md-checked.md-primary .md-thumb,
.d-table_check md-switch.md-checked.md-primary .md-thumb {
    background-color: #008000;
}

.d-table_check md-switch.md-default-theme.md-checked.md-primary .md-bar,
.d-table_check md-switch.md-checked.md-primary .md-bar {
    background-color: #50ac50;
}

.d-no_padding {
    padding: 0 !important;
}

.modal .clearfix.well {
    margin: auto;
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
}

.modal .clearfix.well > div {
    padding: 0;
}

.d-user_form_edit input {
    width: 70%;
    border: none;
    border-bottom: 1px solid aliceblue;
    padding: 5px;
    font-size: 14px;
}

.d-user_form_edit > div {
    margin-bottom: 15px;
}

.d-user_form_edit strong {
    padding-left: 5px;
}

.d-user_form_edit strong span {
    padding-left: 10px;
}

.d-user_form_edit .intl-tel-input {
    width: 80%;
}

.d-user_form_edit .intl-tel-input input {
    width: 100%;
}

.d-user_form_edit md-input-container .md-placeholder,
.d-user_form_edit md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    transform: none !important;
}

.d-user_form_edit .md-input-messages-animation {
    padding-left: 98px;
}

md-input-container.md-input-invalid label.md-required:not(.md-container-ignore)::after {
    color: #f00 !important;
}

.d-crop_image .modal-dialog {
    max-width: 470px;
}


.d-crop_image .clearfix.well > div.d-select_image_file {
    padding: 10px 5px;
    background: #f7f7f7;
    margin-bottom: 15px;
}

.d-crop_image .clearfix.well > div.d-select_image_file span {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.d-no_listing {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 100px;
    background-image: url("../images/boy.jpg");
    background-repeat: no-repeat;
    background-position: 5% center;
}

.d-no_listing h1 {
    font-size: 45px;
}

.d-no_listing p {
    max-width: 500px;
    margin: 10px auto 50px auto;
    line-height: 22px;
}

.d-no_listing a {
    min-width: 200px;
    font-size: 20px;
    padding: 8px;
}

.d-permission td {
    font-size: 13px;
}

.d-permission > thead > tr > th {
    font-weight: 500;
}

.d-module_name td {
    background-color: #0e67bf;
    color: #fff;
    font-size: 14px;
}

.d-sub_module_name td {
    background-color: #5AA6EB;
    color: #fff;
    font-size: 14px;
}

.g-listing_insti {
    margin-top: 80px;
}

i.material-icons.d-close_listing {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #333;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    padding: 5px;
}

i.material-icons.d-close_listing:hover {
    background-color: #5aa6eb;
}

.d-domain_name {
    margin: 18px 0;
    height: 60px;
    position: relative;
}

.d-domain_name .d-domain_name_entry {
    padding-top: 5px;
}

.d-domain_name .d-domain_name_entry span {
    display: inline-block;
    background-color: #efefef;
    padding: 4px 10px;
    border: 1px solid rgba(204, 204, 204, 0.2);
}

.d-domain_name .d-domain_name_entry input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 4px;
    margin: -2px -3px;
    width: auto;
    display: inline-block;
    float: none !important;
}

.d-domain_name label {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: -22px;
}

.d-domain_name label {
    transform: none !important;
}

.md-datepicker-calendar-pane.md-pane-open {
    z-index: 9999;
}

#loader {
    display: none;
    background-color: #000 !important;
    opacity: .6;
}

#loader {
    display: block;
    top: 0;
}

.loaderimage {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background: url("../images/loading.gif") center no-repeat;
}

.loaderimage::after {
    content: 'Processing ......';
    top: 55%;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    position: fixed;
    text-align: center;
    color: #fff;
}
.loaderimageinstitute {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background: url("../images/loading.gif") center no-repeat;
}

.loaderimageinstitute::after {
    content: 'New database generating. Please do not refresh. it will take some time.';
    top: 55%;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    position: fixed;
    text-align: center;
    color: #fff;
}
md-input-container label span {
    display: none;
}

md-input-container label.md-required::after,
md-input-container.md-input-invalid label,
md-input-container.md-input-invalid .md-input {
    color: rgba(0, 0, 0, 0.54);
}

div.intl-tel-input .selected-flag {
    height: 52%;
}

.d-user_form_edit md-input-container label:not(.md-container-ignore) {
    position: static;
    width: auto;
    min-width: 22%;
    float: left;
    color: #000;
}

md-input-container.md-input-focused .md-input {
    padding-bottom: 5px;
}

.d-user_form_edit md-input-container {
    margin: 0;
    margin-bottom: 13px;
    line-height: 22px;
    padding-top: 3px;
    padding-left: 5px;
    display: block;
}

.separate-dial-code {
    height: 23px;
}

md-input-container .md-input[disabled] {
    float: left;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
    height: 26px;
}

md-switch {
    display: inline-block;
}

.d-user_form_edit .intl-tel-input {
    width: 75%;
}

.d-sibling_outer {
    margin-bottom: 20px;
}

.d-sibling_outer::after {
    clear: both;
    display: block;
    content: "";
}

.d-sibling_outer md-autocomplete,
.d-sibling_outer label {
    float: left;
}

.d-sibling_outer label {
    margin-top: 10px;
    margin-right: 10px;
}

.d-sibling_outer label input {
    position: relative;
    top: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.md-select_box label {
    top: -48px;
}

.md-select_box .md-input-messages-animation.md-auto-hide.ng-active {
    bottom: 8px;
    position: absolute;
}

.md-select_box label span {
    display: inline-block;
}

.d-validation-error.md-select_box label span {
    color: #f00;
}

.g-sibling_added {
    clear: both;
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    background: #efefef;
    padding: 12px;
    color: #333;
}

.d-date_label {
    position: relative;
}

.d-date_label label {
    color: rgba(0, 0, 0, 0.5);
    padding-left: 0;
    position: absolute;
}

.md-block_input_file label {
    top: -50px;
}

.d-class_clone .md-fab.md-mini.md-raised.md-mini.md-button.md-ink-ripple {
    top: 10px;
}

.md-input-focused.md-block_input_file label {
    top: auto;
}

#accordion md-checkbox {
    margin-bottom: 0;
}

.deshboard-box { 
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    background: #0e67bf;
    color: #fff;
    font-family: "Montserrat", "sans-serif";
}

.deshboard-box .title { 
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.2);
}

.deshboard-box .total-data {
    font-size: 25px;
    height: 150px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: transparent;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.total-data > a:hover{
    top: -10px;
}

.deshboard-box .total-data:hover {
    background: #00479f none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
}

.total-data > a {
    top: 0px;
    color: #ffffff;
    display: block;
    font-size: 32px;
    height: 100%;
    line-height: 150px;
    position: relative;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.deshboard-box .deshboard-button {
    float: right;
    margin: 25px 15px 0 0;
}

.deshboard-box .deshboard-button .md-button {
    line-height: 26px;
    min-height: 26px;
    min-width: 85px;
    font-size: 11px;
}

.student-info md-input-container {
    margin: 0;
}

.student-info md-input-container label:not(.md-container-ignore) {
    position: initial;
    float: left;
    width: 50%;
}

.student-info md-input-container .md-input {
    float: left;
    width: 70%;
    border: none;
}

.student-info md-input-container .md-errors-spacer {
    display: none;
}

.d-validation-error label {
    color: rgba(0, 0, 0, 0.54);
}

.d-validation-error label span {
    color: #dd2c00;
}

.d-radio_outer label {
    color: rgba(0, 0, 0, 0.54);
}

.ng-submitted .d-radio_outer label span {
    color: #dd2c00;
}

md-input-container.d-validation-error label.md-required:not(.md-container-ignore)::after {
    color: #f00;
}

#tab-content-3 md-input-container,#tab-content-3 md-checkbox{margin: auto;}


#accordion .panel-heading {
    padding: 0;
}

#accordion .panel-title > a {
    display: block;
    padding: 15px;
    outline: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

#accordion .panel-title > a.accordion-toggle::before,
#accordion a[data-toggle="collapse"]::before {
    content: "\f078";
    float: left;
    font-family: 'FontAwesome';
    margin-right: 1em;
}

#accordion .panel-title > a.accordion-toggle.collapsed::before,
#accordion a.collapsed[data-toggle="collapse"]::before {
    content: "\f077";
}



.pay-now-part md-radio-button {
    margin-bottom: 0;
}

.g-payment_process .panel-default > .panel-heading {
    background-color: #328ce6;
    border-color: #328ce6;
    color: #ffffff;
}

.g-payment_process .d-pay_month_forms .table {
    margin-bottom: 6px;
}

.g-payment_process .d-pay_month_forms .table > thead > tr > td.d-paid {
    position: relative;
    background-color: #d5d5d5;
    border: 1px solid #E5F2DC !important;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.g-payment_process .d-pay_month_forms .table > thead > tr > th.d-unpaid {
    position: relative;
    background-color: #f2dede;
    border: 1px solid #f2dede !important;
    color: #a94442;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.g-payment_process b,
.g-payment_process strong {
    font-weight: 500;
    font-size: 14px;
}

.g-payment_process md-checkbox {
    margin: auto;
}

.g-payment_process .d-arrow_toggle i {
    color: #000000;
    font-size: 22px;
    position: relative;
    right: 5px;
    top: 2px;
}

.g-payment_process .d-arrow_toggle .fa-chevron-circle-up {
    display: none;
}

.g-payment_process .d-arrow_down .fa-chevron-circle-down {
    display: none;
}

.g-payment_process .d-arrow_down .fa-chevron-circle-up {
    display: block;
}

.d-amount_pay {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 8px;
    width: 400px;
}

.d-permision_attr ul {
    padding-left: 0;
    max-width: 250px;
    width: 100%;
    margin: 0;
}

.d-permision_attr ul .d-permission_list {
    display: none;
}

.d-permision_attr > ul {
    background-color: #ccc;
}

.d-permision_attr > ul > li .d-per_one {
    color: #000;
    font-size: 15px;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.d-permision_attr > ul > li ul {
    background-color: #909ea8;
    display: none;
    max-height: 250px;
    overflow: auto;
}

.d-permision_attr > ul > li ul li {
    color: #fff;
}

.d-permision_attr > ul > li ul li span {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.d-permision_attr > ul > li ul li:hover {
    background-color: #606161;
}

.d-permision_attr > ul > li ul li.disable {
    background-color: #606161;
}

.d-toggle_icon .fa-minus {
    display: none;
}

.d-minus .fa-minus {
    display: block;
}

.d-minus .fa-plus {
    display: none;
}

.disable {
    pointer-events: none;
}

.d-permission_submit {
    display: none;
}

@media (max-width: 1024px) {
    .d-nav nav > ul > li {
        margin-left: 4px;
    }
    .d-nav nav > ul > li > a {
        padding: 8px 10px;
    }
    .md-padding {
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .d-footer {
        height: auto;
        position: static;
        padding-bottom: 10px;
    }
    .d-footer ul {
        float: left;
        margin-bottom: 10px;
    }
    .d-login_form {
        max-width: 95%;
    }
    .d-header_info .d-main_menu nav ul,
    .d-header_info .d-top_user {
        text-align: center;
    }
    .d-top_user {
        margin-bottom: 10px;
    }
    .d-logo img {
        margin: auto;
    }
    md-toolbar {
        min-height: 64px;
    }
    .d-package_listing {
        clear: both;
    }
    .d-package_listing md-checkbox {
        width: 100%;
    }
    .d-listing_toolbar .d-listing_toolbar_title > span {
        font-size: 16px;
        padding: 24px 5px 20px 15px;
    }
}


/*# sourceMappingURL=main.css.map */
.style-button{
    background-color: #2980B9;
    height: 60px;

}


.style-menu-button{
    background-color: #1EBFAE;
    height: 45px;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    padding-right: 15px;
    font-size: 13px;
    text-align: center;
    min-width: 0px;
}
.navbar{
    min-height: 0px;
}
md-menu-item{
    min-height: 0px;
    height: 38px;
    
}
md-menu-item>.md-button{
    font-size: 14px;
   
}